*.java.hsp
*.sonarj
*.sw*
.DS_Store
bin
build.sh
integration-repo
ivy-cache
.gradle
/build
buildSrc/build
/spring-*/build
target

# Eclipse metadata
.classpath
.project
.settings
.springBeans

# IDEA metadata and output dirs
*.iml
*.ipr
*.iws
.idea
out

gradle-app.setting
spring-binding/src/main/java/META-INF/
spring-faces/src/main/java/META-INF/
spring-js-resources/src/main/java/META-INF/
spring-webflow/src/main/java/META-INF/
