*.java.hsp
*.sonarj
*.sw*
.DS_Store
.springBeans
bin
build.sh
ivy-cache
integration-repo
target
spring-build/lib/docbook
.gradle
build
spring-webflow-samples/*/.project
spring-webflow-samples/*/.classpath
spring-webflow-samples/*/.settings
