<?xml version='1.0' encoding="iso-8859-1"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
     "http://www.oasis-open.org/docbook/xml/4.4/docbookx.dtd"
[
<!ENTITY overview SYSTEM "overview.xml">
<!ENTITY defining-flows SYSTEM "defining-flows.xml">
<!ENTITY el SYSTEM "el.xml">
<!ENTITY views SYSTEM "views.xml">
<!ENTITY actions SYSTEM "actions.xml">
<!ENTITY flow-managed-persistence SYSTEM "flow-managed-persistence.xml">
<!ENTITY flow-security SYSTEM "flow-security.xml">
<!ENTITY flow-inheritance SYSTEM "flow-inheritance.xml">
<!ENTITY system-setup SYSTEM "system-setup.xml">
<!ENTITY spring-mvc SYSTEM "spring-mvc.xml">
<!ENTITY spring-js SYSTEM "spring-js.xml">
<!ENTITY spring-faces SYSTEM "spring-faces.xml">
<!ENTITY portlet SYSTEM "portlet.xml">
<!ENTITY testing SYSTEM "testing.xml">
<!ENTITY upgrade-guide SYSTEM "upgrade-guide.xml">
<!ENTITY flow-definition-field-mappings SYSTEM "flow-definition-field-mappings.xml">
]>

<book>
	<bookinfo>
		<title>Spring Web Flow 2 Reference Guide</title>
		<subtitle>Reference Documentation</subtitle>
		<releaseinfo>Version 2.0.3</releaseinfo>
		<pubdate>July 2008</pubdate>
		<authorgroup>
			<author>
				<firstname>Keith</firstname>
				<surname>Donald</surname>
			</author>
			<author>
				<firstname>Erwin</firstname>
				<surname>Vervaet</surname>
			</author>
			<author>
				<firstname>Jeremy</firstname>
				<surname>Grelle</surname>
			</author>
			<author>
				<firstname>Scott</firstname>
				<surname>Andrews</surname>
			</author>
			<author>
				<firstname>Rossen</firstname>
				<surname>Stoyanchev</surname>
			</author>
		</authorgroup>
		<legalnotice>
			<para>
				Copies of this document may be made for your own use and for
				distribution to others, provided that you do not charge any
				fee for such copies and further provided that each copy
				contains this Copyright Notice, whether distributed in print
				or electronically.
			</para>
		</legalnotice>
	</bookinfo>
	
	<toc />
	
	&overview;
	&defining-flows;
	&el;
	&views;
	&actions;
	&flow-managed-persistence;
	&flow-security;
	&flow-inheritance;
	&system-setup;
	&spring-mvc;
    &spring-js;
	&spring-faces;
	&portlet;
	&testing;
	&upgrade-guide;
	&flow-definition-field-mappings;
	
</book>
