<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:org/springframework/webflow/samples/booking/service/services-config-jpa.xml
			/WEB-INF/webflow-config.xml
		</param-value>
	</context-param>

	<!-- Use Documents Saved as *.xhtml -->
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>

	<!-- Special Debug Output for Development -->
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Bootstraps the root Spring Web Application Context, responsible for deploying managed beans
		defined in the configuration files above.  These beans represent the services used by the JSF application. -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<!-- Listener for enabling request and session scoped beans in Spring -->
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>

	<!-- Guarantees that under all JSF exit conditions, the flow context will be cleaned up -->
	<filter>
		<filter-name>Flow System Cleanup Filter</filter-name>
		<filter-class>
			org.springframework.faces.webflow.FlowSystemCleanupFilter
		</filter-class>
	</filter>

	<!-- Filters all request to *.faces to the Flow System Cleanup Filter for guarenteed cleanup -->
	<filter-mapping>
		<filter-name>Flow System Cleanup Filter</filter-name>
		<url-pattern>*.swf</url-pattern>
	</filter-mapping>

	<!-- The front controller for the JSF application, responsible for handling all application requests -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.swf</url-pattern>
	</servlet-mapping>

	<!-- Map all requests to *.faces to the Faces Servlet for handling -->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>