<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<!-- Use JSF view templates saved as *.xhtml, for use with Facelets -->
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	
	<!-- Special Facelets Debug Output for Development -->
  	<context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
   		<param-value>true</param-value>
  	</context-param>
  	
  	<!-- Cause Facelets to refresh templates during development -->
  	<context-param>
  		<param-name>facelets.REFRESH_PERIOD</param-name>
  		<param-value>1</param-value>
  	</context-param>
  	
  	<!-- Cause Facelets always reconstruct the component tree, cutting down on the amount of state that needs to be 
  	serialized -->
  	<context-param>
  		<param-name>facelets.BUILD_BEFORE_RESTORE</param-name>
  		<param-value>false</param-value>
  	</context-param>
	
	<!-- Here so the JSF implementation can initialize, not used at runtime -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Dummy mapping for faces initialization -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>

	<!-- The front controller of the Spring Web application, responsible for handling all application requests -->
	<servlet>
		<servlet-name>Spring Web Servlet</servlet-name>
		<servlet-class>org.springframework.webflow.servlet.SpringWebServlet</servlet-class>
		<init-param>
			<param-name>configLocations</param-name>
			<param-value>/WEB-INF/config/web-application-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<!-- Map all *.spring requests to the Web Servlet for handling -->
	<servlet-mapping>
		<servlet-name>Spring Web Servlet</servlet-name>
		<url-pattern>/spring/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>